@mixin mainWrapperFrame(
  $width: 80%,
  $flex-direction: row,
  $margin: 0 auto,
  $box-shadow: 0 0px 5px grey
) {
  width: $width;
  height: auto;
  box-shadow: $box-shadow;
  padding: 24px, 0px, 24px, 0px;
  border-radius: 8px;
  display: flex;
  flex-direction: $flex-direction;
  margin: $margin;
}

@mixin displayFlexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin headerTitle {
  font-size: 4rem;
  color: aliceblue;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  @include displayFlexColumnCenter;
}
@mixin borderRadius {
  border-radius: 8px;
}
@mixin paddingLabel {
  padding-left: 8px;
}

@mixin inputRadioCheckboxWrapper {
  & input {
    width: 20px;
    height: 20px;
  }
  & label {
    font-size: 14px;
    white-space: nowrap;
  }
}

@mixin inputBorderStyle {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 20px;
}
